<div class="jumbotron">
    <h1>Alexa - BotFramework communication demo</h1>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>This is the bot framework endpoint, the second part</h2>
    </div>
</div>
